<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TechTapas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="/" class="navbar-brand"><img src="/examples/images/logo.svg" height="28" alt="techtapas"></a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                {{#if loggedIn}}
                <div class="navbar-nav">
                    <a href="/" class="nav-item nav-link active">Home</a>
                    <a href="/dashboard" class="nav-item nav-link">Dashboard</a>
                    <a href="/dashboard/create" class="nav-item nav-link">Create Post</a>
                    <a href="#" class="nav-item nav-link">Contact</a>
                </div>
                <div class="navbar-nav ms-auto">
                    <a href="/logout" class="nav-item nav-link">Logout</a>
                </div>
                {{else}}
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/login" class="nav-item nav-link">Login</a>
                {{/if}}
            </div>
        </div>
    </nav>

    <main>
        {{{ body }}}
    </main>

    <hr>
    
    <footer>
        <div class="row">
            <div class="col-md-6">
                <p>Copyright &copy; 2023 Cassie LeClair</p>
            </div>
            <div class="col-md-6 text-md-end">
                <a href="/" class="text-dark">Home</a>{{#if loggedIn}}
                <span class="text-muted mx-2">|</span>
                <a href="/dashboard/" class="text-dark">Dashboard</a>
                <a href="/dashboard/create/" class="text-dark">Create New Post</a>
                {{else}}
                | <a href="/login/">login</a>
                {{/if}}
            </div>
        </div>
    </footer>
</body>

</html>