<section class="text-white p-5 rounded-3 shadow createNewPost">
            <a href="/dashboard" class="float-end text-white">&larr; Back to Dashboard</a>
            <h2 class="title">Create New Blog Post</h2>
            <hr class="border-light">
            
            <form class="create-post-form">
              <div class="mb-3">
                <label for="post-title" class="form-label">Title:</label>
                <input class="form-control" name="post-title" type="text" />
              </div>
            
              <div class="mb-3">
                <label for="post-text" class="form-label postContent">Content:</label>
                <textarea class="form-control form-control-lg" name="post-text" placeholder="Insert blog content here"></textarea>
              </div>
            
              <button type="submit" class="btn btn-primary float-end">Create Post</button>
              <br>
            </form>
          </section>