{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form mt-5 singlePost">
  <div class="form-group">
    <textarea class="form-control" name="comment-body" placeholder="Write a comment"></textarea>
  </div>

  <div class="form-group">
    <br>
    <button class="btn btn-primary" type="submit">Add Comment</button>
  </div>
  
</form>
{{/if}}

<div class="comments">
  {{#each this}}
  <section class="comment card my-3">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="card-title">{{user.username}}</h5>
        <small class="text-muted">{{format_date created_at}}</small>
      </div>
      <p class="card-text">{{comment_text}}</p>
    </div>
  </section>
  {{/each}}
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}